<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">APP NAME PLACEHOLDER</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <li class="nav-list">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">
          <span class="nav-link">Home</span>
        </a>
      </li>
      <li class="nav-list">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/cats">
          <span class="nav-link">Cats</span>
        </a>
      </li>
      <li class="nav-list">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/dogs">
          <span class="nav-link">Dogs</span>
        </a>
      </li>
      <li class="nav-list">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/birds">
          <span class="nav-link">Birds</span>
        </a>
      </li>
    </div>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>-->
  <!-- <p>
    <ngb-alert [dismissible]="true">
      <strong>Warning!</strong> Sample alert.
    </ngb-alert>
  </p>  -->

<!-- Routed views go here -->

<app-ok-cancel></app-ok-cancel>
