<div class="col-md-12">
  <h2>Home</h2>
  <div class="jumbotron text-center">
    <h1>Welcome to My test APP!</h1>
  </div>
  <p>Nothing to see here, go to
    <a routerLink="/cats">Cats</a> instead.</p>
</div>
